<%= form_for :login, :remote => true, :html => { :id => "login_form" } do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
  <!--
    <%= f.label :remember %>
    <%= f.check_box :remember %>
  -->
    <%= f.hidden_field :lt %>
    <%= f.submit "Login" %><img id="loading" src="loading.gif" style="display:none"/>
  </p>
<% end %>