<!DOCTYPE html>
<html>
<head>
  <title>ASICS</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://www.asics.co.uk/feeds/clean_header_footer.js" type="text/javascript"></script>
</head>
<body>
<!-- <div id="holder"> -->
  <div id="top">
    <div id="top_container" class="clearfix">
      <% if current_user %>
        <ul id="navigation">
          <li><a href="/" ><%= current_user %></a></li>
          <li class="vr_top"></li>
          <li><%= link_to("Logout", logout_path) %></li>
        </ul>
      <% else %>
        <ul id="navigation">
          <li><%= link_to("Register", "#{CASClient::Frameworks::Rails::Filter.config[:cas_base_url]}user/new?service=#{request.url}") %></li>
          <li class="vr_top"></li>
          <li><%= link_to("Login", "#{CASClient::Frameworks::Rails::Filter.config[:login_url]}?service=#{request.url}") %></li>
        </ul>
      <% end %>
    </div>
  </div>

  <%= yield %>

<!-- </div> -->
<script type="text/javascript">
  if (typeof minisite !== "undefined") minisite.write('footer');
</script>
</body>
</html>
