<!DOCTYPE html>
<html>
<head>
  <title>ASICS</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://www.asics.co.uk/feeds/clean_header_footer.js" type="text/javascript"></script>
</head>
<body>

  <div id="top">
    <div id="top_container" class="clearfix">
      <% if current_user %>
        <ul id="navigation">
          <li><a href="#" ><%= current_user %></a></li>
          <li class="vr_top"></li>
          <li><%= link_to("Logout", logout_path) %></li>
        </ul>
      <% else %>
        <ul id="navigation">
          <li><a href="#" >Register</a></li>
          <li class="vr_top"></li>
          <li><a href="#" >Login</a></li>
        </ul>
        <%#= link_to("Login", "#{CASClient::Frameworks::Rails::Filter.config[:login_url]}?service=#{request.url}") %>
      <% end %>
    </div>
  </div>

  <%= yield %>
</body>
</html>
